@import "tailwindcss";

@theme {
 
  /* theme */
  --color-primary: #1c1108; 
  --color-secondary: #c9a84c; 
  --color-tertiary: #f7f3ec; 

  /* signal */
  --color-danger: #F87171;
  --color-warning: #FBBF24;
  --color-success: #4ADE80;

  /* text */
  --color-title: #7a6455;

  /* others */
  --color-highlighted: #312411;
  --color-border: #d4c5a9;
  --color-hover: #FDFBF8;
}




/* 1) Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 2) Hide main page scrollbar but keep scrolling */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
